@model Foto

@{
    var foto = Model;
}

<div class="container">

    <div class="row">
        <div class="col-6">

            <img src="@foto.ImgPath" alt="@foto.Name">

        </div>
        <div class="col-6 text-center">

            <div class="card" style="width: 100%; height: 100%;">
              <div class="card-body">
                <h5 class="card-title">@foto.Name</h5>
                <div class="py-2">
                    @foreach (var cat in @foto.Categories!)
                    {
                        <a href="@Url.Action("Index", "Category")" class="badge bg-success">@cat.Name</a>
                    }
                </div>
                <p class="card-text">@foto.Description</p>

                @if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("Update", "Foto", new { Id = foto.Id })" class="btn btn-warning">Modifica</a>
                    <form class="d-inline" asp-controller="Foto" asp-action="Delete" asp-route-id="@foto.Id" method="post">
                        @Html.AntiForgeryToken()
                        <button class="btn btn-danger"> Elimina </button>
                    </form>    
                }
              </div>
            </div>

        </div>
    </div>

</div>