@*
@model Foto[]*@

@{
    ViewData["Title"] = "Home Page";

     //var fotos = @Model;
}

<div class="container text-center ms-background-index px-2 py-2">
    <h1 class="ms-main-title">Le mie foto principali!</h1>

    <div class="row px-4 py-2 gx-2" id="ms-fotos">
@*        @foreach (var foto in fotos)
        {
            @if (@foto.IsVisible is "Si")
            {
                <div class="col py-2">
                    <div class="card" style="width: 18rem;">
                      <img src="@foto.ImgPath" class="card-img-top" alt="@foto.Name">
                      <div class="card-body">
                        <h5 class="card-title">@foto.Name</h5>
                        <p class="card-text">@foto.Description</p>
                        <div class="py-2">
                            @foreach (var cat in @foto.Categories!)
                            {
                                <a href="@Url.Action("Index", "Category")" class="badge bg-warning">@cat.Name</a>
                            }
                        </div>
                        <a href="@Url.Action("Detail", "Foto", new { id = foto.Id })" class="btn btn-success">
                            Dettagli
                        </a>
                      </div>
                    </div>
                </div>
            }
        }*@
    </div>

    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-primary" href="@Url.Action("Create", "Foto")">Aggiungi</a>   
    }
</div>
@if (!User.IsInRole("Admin"))
{
<div class="container-xs mt-2">
    <form>
        <h1>Contattaci!</h1>
        <div class="my-2">
            <label class="d-block" for="email" class="form-label">Inserisci la tua mail:</label>
            <input class="form-control" name="email" type="email" value="" />
        </div>
        <div class="my-2">
            <label class="d-block" for="message" class="form-label">Inserisci il tuo messaggio:</label>
            <textarea class="form-control" name="message"></textarea>
        </div>
        <button class="btn btn-success" type="submit">Invia</button>
    </form>
</div>
}

@section Scripts
{
    <script>

        const fotos = getFotos()
            .then(res => {
                const fotos = res.data;
                renderFotos(fotos);
                console.log(fotos);
        });

    </script>
}
@*<div class="py-2">
    @foreach (var cat in @foto.Categories!)
    {
        <a href="@Url.Action("Index", "Category")" class="badge bg-warning">@cat.Name</a>
    }
  </div>*@